@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

/* font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}
:root {
  --Very-dark-blue-main-background: hsl(233, 47%, 7%);
  --Dark-desaturated-blue-card-background: hsl(244, 38%, 16%);
  --Soft-violet-accent: hsl(277, 64%, 61%);
  --White-main-heading-stats: hsl(0, 0%, 100%);
  --Slightly-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
  --Slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);
}
section{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: var(--Very-dark-blue-main-background);
    display: flex;
    justify-content: center;
    align-items: center;
}
.stats-container{
    width: 950px;
    height: 330px;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--Dark-desaturated-blue-card-background);
    display: flex;
    transition: all 0.3s ease;
}
.left-section{
    width: 50%;
    height: 100%;
    padding-block: 40px;
    padding-left: 60px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease;
}
.left-section-heading{
    font-size: 2rem;
    font-family: 'Lexend Deca', sans-serif;
    color: var(--White-main-heading-stats);
    margin-bottom: 5vh;
}
.left-section-heading span{
    color: var(--Soft-violet-accent);
}
.left-section-para{
    color: var(--Slightly-transparent-white-main-paragraph);
    font-weight: 200;
    font-size: 15px;
}

.all-stats{
    display: flex;
    justify-content: space-between;
}
.stats{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.p-1{
    font-size: 1.3rem;
    color: var(--White-main-heading-stats);
    font-weight: bold;
}
.p-2{
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    color: var(--Slightly-transparent-white-stat-headings);
    font-weight: 200;
}
.right-section{
    position: relative;
    width: 50%;
    height: 100%;
    background: url(images/image-header-desktop.jpg);
    background-size: 100% 100%;
    transition: all 0.3s ease;
}
.right-section::after{
    content: "";
    background-color: hsl(277deg 73.24% 25.74% / 65%);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

@media screen and (max-width: 1170px) {
    .stats-container{
        width: calc(100% - 60px);
    }
}

@media screen and (max-width: 1024px) {
    .left-section{
        padding-block: 40px;
        padding-inline: 40px;
    }
}
@media screen and (max-width: 900px) {
    .stats-container{
        height: 45vh;
    }
    .left-section{
        padding-block: 30px;
    }
    .left-section-heading{
        font-size: 1.6rem;
    }
    .left-section-para{
        font-size: 13px;
    }
    .p-1{
        font-size: 1rem;
    }
    .p-2{
        font-size: 8px;
    }
}

@media screen and (max-width: 425px){
    .stats-container{
        flex-direction: column-reverse;
        width: calc(100% - 60px);
        height: calc(100vh - 40px);
    }
    .left-section{
        width: 100%;
        padding-block: 15px;
    }
    .left-section-para{
        text-align: center;
        margin-bottom: 15px;
    }
    .right-section{
        width: 100%;
        height: 50vh;
        background: url(images/image-header-mobile.jpg);
        background-size: 100% 100%;
    }
    .stats{
        align-items: center;
    }
    .p-1{
        font-size: 1.25rem;
    }
    .p-2{
        font-size: 11px;
    }
    .all-stats{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}
@media screen and (max-width: 370px){
    .stats-container{
        width: calc(100% - 20px);
    }
}



